/*Example of over-riding bootstrap defaults*/

.nav-link {
    color: $nav-links;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.progress-bar {
    text-align: left;
    padding-left: 1em;
}

.progress {
    background-color: #bec1c4;
}