// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Example
$nav-links: #404040;

// Used for backgrounds, highlights
$secondary: #cff4fc;

// Used to accent
$accent: #9FE9F9 //TODO Lookup custom color map in sass article that is on bootstrap, define one maybe?