// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap core
@import 'bootstrap/scss/bootstrap';

// Bootstrap Overrides
@import 'custom';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    background: $body-bg;
}

textarea {
    resize: none;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-secondary {
    background: $cyan-100;
}

.img-icon {
    padding: 10px 5px;
    transition: transform .5s;
}

.img-icon:hover {
    transform: scale(1.1, 1.1);
}